{% extends "base.html" %}

{% block header%}
<div style="width: 50vw;">
  <h1>Shuhei Kawashima</h1>
</div>

<div>
  <h3>Twitter</h3>
  <p style="padding-left: 50px;"><a href="https://twitter.com/shuheitter_k" target="_blank">@shuheitter_k</a></p>
</div>
<div>
  <h3>使用ツール</h3>
  <p style="padding-left: 50px;">Slack, GitHub, Facebook messenger, LINE, Dropbox, Evernote, Google Drive, AWS</p>
</div>
<div>
  <h3>使用言語</h3>
  <p style="padding-left: 50px;">Python, django, Ruby, Ruby on Rails</p>
</div>

{% endblock header %}